<h1>All Tags</h1>

<table id="tags">
  <% @tags.each do |tag| %>
    <tr>
      <td><%= link_to tag.name, tag_path(tag) %></td><td><%= link_to 'Delete', tag_path(tag), method: :delete, data: {confirm: "Really delete this tag?"} %></td>
    </tr>
  <% end %>
</table>